body {
    font-size: 16px;
    font-family: Inter;
    max-width: 100%;
}

.container {
    display: flex;
}

.left {
    width: 240px;
}

.right {
    flex: 1;
}

.logo img {
    padding-top: 20px;
    display: block;
    margin: 0 auto;
}

.content {
    position: relative;
    top: 15vh;
    padding: 0 10px;
}

.float {
    top: 500px;
    display: flex;
    align-items: center;
    text-indent: 15px;
}

.float img{
    padding-left: 20px;
}

.float p {
    padding: 10px 0;
}

.emi-calc {
    margin-left: 0;
    background-color: #1AB4D714;
    border-radius: 15px;
    color: #1AB4D7;

}

.table {
    background-color: #2233540D;
    padding: 30px 30px;
    display: flex;
    width: 95.8%;
    height: 76vh;
}

.table .table-width{
    width: 33%;
}

.td-01,
.td-02{
    line-height: 2.5;
}

.sub{
    font-weight: 400;
    font-size: 14px;
    color: #BDBDBD;
    margin: 0;
}

.td{
    margin-bottom: 54px;
}

.table-middle .td-01{
    margin-bottom: 101px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    box-sizing: border-box;
}

.top-right {
    display: inline-flex;
    float: inline-end;
    justify-content: space-between;
}

.top-right hr {
    border: 1px solid #CBCBCB;
    margin-right: 24px;
    margin-left: 26px;
    margin-top: 5px;
    height: 32px;
}

input[type="number"] {
    padding: 10px;
    padding-left: 20px;
    border-radius: 5px;
    width: 320px;
    height: 56px;
    border: 1px solid #BDBDBD;
    background-color: transparent;
    font-size: 16px;
    font-weight: 400;
    color: #4F4F4F;
}

input[type="radio"] {
    width: 24px;
    height: 24px;
    color: #1AB4D714;
    accent-color: #223354;
}

.radio{
    display: flex;
    gap: 28px;
    margin-top: 54px;
}

.radio div{
    display: flex;
    align-items: center;
}

.radio div span{
    padding-left: 16px;
    font-size: 16px;
    font-family: 400;
    color: #4F4F4F;
}

button {
    gap: 10px;
    width: 235px;
    height: 55px;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    background-color: #E0E0E0;
    border: none;
}

.name{
    color: #4F4F4F;
    position: relative;
}

.name-pos{
    position: absolute;
    margin-left: -30px;
    margin-top: 10px;
}

.name-pos-01{
    position: absolute;
    margin-left: -30px;
    margin-top: 10px;
}

.view {
    background-color: #FFFFFF;
    line-height: normal;
    padding: 20px 20px 10px 30px;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* tabs */
a {
    text-decoration: none;
    color: #828282;
    font-size: 16px;
    font-weight: 500;
}

a:first-child {
    border-bottom: 4px solid #333333;
    color: #333333;
}

.sec-2 {
    padding-left: 10px;
}

.tab-content-01 {
    box-sizing: border-box;
    width: 209px;
    border-bottom: 4px solid #E0E0E0;
}

.tabs-content img {
    margin-left: 179px;
}

.tabs-content{
    width: 98.2%;
    background-color: #2233540D;
    padding-left: 30px;
    padding-top: 19px;
}

.view hr{
    width: 399px;
    margin-left: -29px;
    border: 1px solid #EFEFEF;
}